
subjects/VIROKR/labosi/preze/VO-P05_UVO.ppsx
subjects/VIROKR/labosi/v2/Projekt\[2\].zip
subjects/VIROKR/labosi/v3/VO-V3-UVO.rar
subjects/VIROKR/virtualna-book-0.pdf
subjects/Winter/VIROKR/labosi/preze/VO-P05_UVO.ppsx
subjects/Winter/VIROKR/labosi/v2/Projekt\[2\].zip
subjects/Winter/VIROKR/labosi/v3/VO-V3-UVO.rar
subjects/Winter/VIROKR/virtualna-book-0.pdf
subjects/KOMPRO-master.zip
subjects/OST-master.zip
subjects/SUI-master.zip
subjects/ZISIS-master.zip
subjects/Winter/NAISP/AdvancedAlgorithms-main/.idea/AdvancedAlgorithms.iml
subjects/Winter/NAISP/AdvancedAlgorithms-main/.idea/encodings.xml
subjects/Winter/NAISP/AdvancedAlgorithms-main/.idea/inspectionProfiles/profiles_settings.xml
subjects/Winter/NAISP/AdvancedAlgorithms-main/.idea/inspectionProfiles/Project_Default.xml
subjects/Winter/NAISP/AdvancedAlgorithms-main/.idea/misc.xml
subjects/Winter/NAISP/AdvancedAlgorithms-main/.idea/modules.xml
subjects/Winter/NAISP/AdvancedAlgorithms-main/.idea/vcs.xml
subjects/Winter/NAISP/AdvancedAlgorithms-main/AVL.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/BellmanFord.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/BFS_Iterative.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/BinaryTree.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/BlockSearch.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/BondyChvatal.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/BTree.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/BTreeList.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/ConvexHull.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/CreateBalancedBinaryTree.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/DFS.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/Dijkstra.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/DSW.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/EdmondsKarp.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/EulerianCircuits.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/General.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/GeomGeneral.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/IntervalTree.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/Kruskal.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/LICENSE
subjects/Winter/NAISP/AdvancedAlgorithms-main/Lists.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/LZ77.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/OneDRangeTree.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/PatriciaTree.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/PlaneSweepingLSIntersection.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/Prim.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/PriorityTree.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/RBTree.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/README.md
subjects/Winter/NAISP/AdvancedAlgorithms-main/SCCSearch.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/SegmentTree.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/SimpleBinaryTree.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/SkipLists.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/SuffixArray.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/SuffixTree.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/Test_ADS.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/Test_Compression.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/Test_Geom.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/Test_Graphs.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/Test_SDS.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/Trie.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/TwoDRangeTree.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/TwoMSTTravelingSalesman.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/WFI.py
subjects/Winter/NAISP/AdvancedAlgorithms-main/__pycache__/SimpleBinaryTree.cpython-39.pyc
subjects/Winter/NAISP/NAISP-master.zip
subjects/Winter/NASP/Auditorne/Auditorne 1.0 - Naivni simplex.mp4
subjects/Winter/NASP/Auditorne/Auditorne 1.1 - Sastavljanje LP iz teksta.mp4
subjects/Winter/NASP/Auditorne/Auditorne 1.10 - Stablo segmenata 3.mov
subjects/Winter/NASP/Auditorne/Auditorne 1.11 - LZ77 kompresija.mov
subjects/Winter/NASP/Auditorne/Auditorne 1.12 - LZ77 dekompresija.mov
subjects/Winter/NASP/Auditorne/Auditorne 1.13.1 - RB stabla - unos elemenata.mp4
subjects/Winter/NASP/Auditorne/Auditorne 1.13.2 - RB stabla - brisanje elemenata.mp4
subjects/Winter/NASP/Auditorne/Auditorne 1.2 - Dvofazni simplex.mp4
subjects/Winter/NASP/Auditorne/Auditorne 1.3 - Huffmanovo kodiranje.mp4
subjects/Winter/NASP/Auditorne/Auditorne 1.4 - AVL.mov
subjects/Winter/NASP/Auditorne/Auditorne 1.5 - B-stablo 1.mov
subjects/Winter/NASP/Auditorne/Auditorne 1.6 - B-stablo 2.mov
subjects/Winter/NASP/Auditorne/Auditorne 1.7 - DSW.mov
subjects/Winter/NASP/Auditorne/Auditorne 1.8 - Stablo segmenata 1.mov
subjects/Winter/NASP/Auditorne/Auditorne 1.9 - Stablo segmenata 2.mov
subjects/Winter/NASP/Auditorne/Auditorne 2.0 - Dijkstra 1.mov
subjects/Winter/NASP/Auditorne/Auditorne 2.1 - Dijkstra 2.mov
subjects/Winter/NASP/Auditorne/Auditorne 2.10 - Prim.mp4
subjects/Winter/NASP/Auditorne/Auditorne 2.11 - Linearni kongruentni generator (LCG).mp4
subjects/Winter/NASP/Auditorne/Auditorne 2.12 - Skip (preskocne) liste.mp4
subjects/Winter/NASP/Auditorne/Auditorne 2.2 - Bellman-Ford.mov
subjects/Winter/NASP/Auditorne/Auditorne 2.3 - WFI.mov
subjects/Winter/NASP/Auditorne/Auditorne 2.4 - BlockSearch.mov
subjects/Winter/NASP/Auditorne/Auditorne 2.5 - SCC.mov
subjects/Winter/NASP/Auditorne/Auditorne 2.6 - CPP (kineski postar).mov
subjects/Winter/NASP/Auditorne/Auditorne 2.7 - Bondy-Chvatal.pdf
subjects/Winter/NASP/Auditorne/Auditorne 2.8 - TSP (2-MST heuristika).mov
subjects/Winter/NASP/Auditorne/Auditorne 2.9.1 - 0-1 Knapsack DP optimalno.mp4
subjects/Winter/NASP/Auditorne/Auditorne 2.9.2 - 0-1 Knapsack FPTAS.mp4
subjects/Winter/NASP/Auditorne/Auditorne vježbe 1-20211117_111509-Meeting Recording.mp4
subjects/Winter/VIROKR/Repository/VO-P05_UVO.ppsx
subjects/Winter/NASP/NAISP-master.zip
subjects/Winter/NASP/NASPAuditorne.zip
subjects/Winter/VIROKR/labosi/v3/orginal)_2022_VO-V3-UVO.rar
subjects/Winter/NASP/AdvancedAlgorithms-main/lab2SOlutions.py
subjects/Adobe_Acrobat_Pro_DC_2022.002.20212_x64_Multilingual_Downloadly.ir.rar
subjects/Winter/KOMPRO/labosi/27_Hlevnjak.docx
