<AuthorizeView>
    <Authorized>        
        <a href="logout">Odjavi se</a>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/">Ulogiraj se</a>
    </NotAuthorized>
</AuthorizeView>